USE [Jlearning]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[email] [nvarchar](100) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[avatar_url] [nvarchar](max) NULL,
	[phone] [nvarchar](10) NULL,
	[address] [nvarchar](200) NULL,
	[year_of_birth] [int] NULL,
	[gender] [bit] NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blog_avatar_url] [nvarchar](max) NULL,
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[blog_category_id] [int] NULL,
	[created_date] [date] NOT NULL,
	[blog_name] [nvarchar](100) NULL,
	[blog_description] [nvarchar](500) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog_Category]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Category](
	[blog_category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog_Details]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Details](
	[blog_details_id] [int] IDENTITY(1,1) NOT NULL,
	[header] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[blog_img_url] [nvarchar](max) NULL,
	[blog_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_details_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[chapter_id] [int] IDENTITY(1,1) NOT NULL,
	[chapter_name] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[course_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[chapter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[contact_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NULL,
	[name] [nvarchar](200) NULL,
	[request_date] [date] NULL,
	[response_date] [date] NULL,
	[status] [bit] NULL,
	[request_message] [nvarchar](max) NULL,
	[response_message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_avatar_url] [nvarchar](max) NULL,
	[course_name] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[duration] [int] NULL,
	[price] [float] NULL,
	[status] [bit] NULL,
	[created_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[star] [int] NULL,
	[course_name] [nvarchar](500) NULL,
	[message] [nvarchar](500) NULL,
	[course_id] [int] NULL,
	[user_avatar_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[lesson_id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_name] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[video_url] [nvarchar](max) NULL,
	[material_url] [nvarchar](max) NULL,
	[chapter_id] [int] NULL,
	[duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson_Done]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson_Done](
	[lesson_id] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[course_id] [int] NOT NULL,
 CONSTRAINT [PK_Lesson_Done] PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC,
	[email] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NULL,
	[course_id] [int] NULL,
	[amount] [float] NULL,
	[created_date] [date] NULL,
	[course_name] [nvarchar](max) NULL,
	[phone] [nvarchar](10) NULL,
	[address] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](200) NULL,
	[answer_1] [nvarchar](200) NULL,
	[answer_2] [nvarchar](200) NULL,
	[answer_3] [nvarchar](200) NULL,
	[answer_4] [nvarchar](200) NULL,
	[correct_answer] [int] NULL,
	[test_id] [int] NULL,
	[explaination] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support](
	[support_id] [int] IDENTITY(1,1) NOT NULL,
	[support_name] [nvarchar](200) NULL,
	[message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[support_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[test_id] [int] IDENTITY(1,1) NOT NULL,
	[test_name] [nvarchar](200) NULL,
	[chapter_id] [int] NULL,
	[course_id] [int] NULL,
	[description] [nvarchar](300) NULL,
	[duration] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Done]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Done](
	[email] [nvarchar](100) NOT NULL,
	[test_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC,
	[test_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Course]    Script Date: 7/19/2023 12:10:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Course](
	[course_id] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[enrolled_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([email], [name], [password], [avatar_url], [phone], [address], [year_of_birth], [gender], [role_id]) VALUES (N'admin', N'admin', N'admin', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Account] ([email], [name], [password], [avatar_url], [phone], [address], [year_of_birth], [gender], [role_id]) VALUES (N'hoaithu1707.25@gmail.com', N'Trương Thị Thu', N'111', NULL, NULL, NULL, NULL, 0, 2)
INSERT [dbo].[Account] ([email], [name], [password], [avatar_url], [phone], [address], [year_of_birth], [gender], [role_id]) VALUES (N'nguyenthanhlam1070@gmail.com', N'Nguyễn Thành Lâm ', N'123', N'https://firebasestorage.googleapis.com/v0/b/jlearning-90346.appspot.com/o/course%2Fimages%2Favatar-4.png?alt=media&token=19e585d3-d492-43a6-982a-b3e59f8bb65f', N'0385981070', N'Hải Dương', 2001, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([blog_avatar_url], [blog_id], [blog_category_id], [created_date], [blog_name], [blog_description], [status]) VALUES (N'https://firebasestorage.googleapis.com/v0/b/flearning-131be.appspot.com/o/blog%2Fimages%2Fblog-details-3.png?alt=media&token=2cd378f1-bafd-409f-90bf-5a666ba70ee7', 12, 3, CAST(N'2023-05-17' AS Date), N'Tiếng Nhật có bao nhiêu loại chữ?', N'Là bảng chữ Latinh như tiếng Anh hay tiếng Việt không dấu mà chúng ta sử dụng nên không cần học viết loại này mà chỉ cần quan tâm cách đọc kiểu Nhật. Người ta gọi chữ Latinh này là ローマ字 (Ro-maji).', 1)
INSERT [dbo].[Blog] ([blog_avatar_url], [blog_id], [blog_category_id], [created_date], [blog_name], [blog_description], [status]) VALUES (N'https://firebasestorage.googleapis.com/v0/b/flearning-131be.appspot.com/o/blog%2Fimages%2Fblog-5.png?alt=media&token=365acb7f-67ac-409b-a4aa-3347cd0ecf4b', 13, 1, CAST(N'2023-05-26' AS Date), N'Đi du lịch Nhật Bản bạn cần biết những văn hóa này', N'Ai cũng biết Nhật Bản là một quốc gia văn minh với nền kinh tế cực kỳ phát triển. Cũng chính vì vậy mà văn hóa Nhật Bản cũng có nhiều đặc biệt.', 1)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog_Category] ON 

INSERT [dbo].[Blog_Category] ([blog_category_id], [name]) VALUES (1, N'Văn hóa Nhật Bản')
INSERT [dbo].[Blog_Category] ([blog_category_id], [name]) VALUES (2, N'Tin tức sự kiện')
INSERT [dbo].[Blog_Category] ([blog_category_id], [name]) VALUES (3, N'Kinh nghiệm học TIếng Nhật')
SET IDENTITY_INSERT [dbo].[Blog_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog_Details] ON 

SET IDENTITY_INSERT [dbo].[Blog_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapter] ON 

INSERT [dbo].[Chapter] ([chapter_id], [chapter_name], [description], [course_id]) VALUES (36, N'Chương 1', N'Nhập môn', 31)
INSERT [dbo].[Chapter] ([chapter_id], [chapter_name], [description], [course_id]) VALUES (37, N'Chương 2', N'Giới thiệu về tên, tuổi, quê quán, nghề nghiệp', 31)
INSERT [dbo].[Chapter] ([chapter_id], [chapter_name], [description], [course_id]) VALUES (38, N'Chương 3', N'Giới thiệu về đồ vật', 31)
SET IDENTITY_INSERT [dbo].[Chapter] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([contact_id], [email], [name], [request_date], [response_date], [status], [request_message], [response_message]) VALUES (1, N'nguyenthanhlam1070@gmail.com', N'Nguyễn Thành Lâm', CAST(N'2023-07-18' AS Date), NULL, NULL, N'Tiếng nhật cần ôn luyện như thế nào cho hiệu quả?', NULL)
INSERT [dbo].[Contact] ([contact_id], [email], [name], [request_date], [response_date], [status], [request_message], [response_message]) VALUES (2, N'hoaithu1707.25@gmail.com', N'Trương Thị Thu', CAST(N'2023-07-18' AS Date), NULL, NULL, N'Thắc mắc về việc đăng ký khóa học!', NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([course_id], [course_avatar_url], [course_name], [description], [duration], [price], [status], [created_at]) VALUES (31, N'https://firebasestorage.googleapis.com/v0/b/jlearning-90346.appspot.com/o/course%2Fimages%2Fcourse-3.jpg?alt=media&token=736125de-d7e9-4763-b53b-f76103017d5b', N'Khóa học N5 free', N'Khóa học tiếng Nhật N5 miễn phí toàn bộ: gồm đầy đủ các bài giảng chi tiết, dễ hiểu về ngữ pháp, từ vựng, hội thoại, nghe, đọc theo giáo trình Minna no nihongo và Kanji theo Look and learn.', 12, 0, 1, CAST(N'2023-06-10' AS Date))
INSERT [dbo].[Course] ([course_id], [course_avatar_url], [course_name], [description], [duration], [price], [status], [created_at]) VALUES (35, N'https://firebasestorage.googleapis.com/v0/b/flearning-131be.appspot.com/o/course%2Fimages%2Fcourse-2.jpg?alt=media&token=d3085226-f18b-4dee-b22c-8bdb7b17dfae', N'Khóa học N4', N'Mô tả khóa học N4', 22, 2000000, 1, CAST(N'2023-05-26' AS Date))
INSERT [dbo].[Course] ([course_id], [course_avatar_url], [course_name], [description], [duration], [price], [status], [created_at]) VALUES (36, N'https://firebasestorage.googleapis.com/v0/b/jlearning-90346.appspot.com/o/course%2Fimages%2Fcourse-1.jpg?alt=media&token=9080b9f5-a3a3-4457-8526-920963c6c649', N'Khóa học N3', N'Mô tả khóa học N3', 11, 3000000, 1, CAST(N'2023-06-12' AS Date))
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedback_id], [name], [email], [star], [course_name], [message], [course_id], [user_avatar_url]) VALUES (1, N'Nguyễn Lâm Thành', N'nguyenthanhlam7070@gmail.com', 5, N'Khóa học N1', N'Nội dung hấp dẫn, bài giảng hay dễ hiểu ', 38, N'https://firebasestorage.googleapis.com/v0/b/jlearning-90346.appspot.com/o/course%2Fimages%2Favatar-3.png?alt=media&token=f6a2141c-a657-4bb0-8fd8-7b67cf6ede7b')
INSERT [dbo].[Feedback] ([feedback_id], [name], [email], [star], [course_name], [message], [course_id], [user_avatar_url]) VALUES (2, N'Nguyễn Lâm Thành', N'nguyenthanhlam7070@gmail.com', 4, N'Khóa học N5 free', N'Nội dung hay, thú vị', 31, N'https://firebasestorage.googleapis.com/v0/b/jlearning-90346.appspot.com/o/course%2Fimages%2Favatar-3.png?alt=media&token=f6a2141c-a657-4bb0-8fd8-7b67cf6ede7b')
INSERT [dbo].[Feedback] ([feedback_id], [name], [email], [star], [course_name], [message], [course_id], [user_avatar_url]) VALUES (3, N'Nguyễn Thành Lâm ', N'nguyenthanhlam1070@gmail.com', 5, N'Khóa học N4', N'Bài giảng chi tiết, hấp dẫn, dễ học', 35, N'https://firebasestorage.googleapis.com/v0/b/flearning-131be.appspot.com/o/course%2Fimages%2FqQd5iPVeVf3SO6Cm5hgp_62c6fb0f27f11_cvtpl.jpg?alt=media&token=57dc5da2-c15d-4772-821e-14c3ffb767ca')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([lesson_id], [lesson_name], [description], [video_url], [material_url], [chapter_id], [duration]) VALUES (16, N'Âm đục, âm ghép Hiragana', N'Mô tả bài học', N'https://firebasestorage.googleapis.com/v0/b/jlearning-90346.appspot.com/o/course%2Fvideos%2Fvideo-2.mp4?alt=media&token=b04768d1-39f4-4054-b27c-92ece7bf3c63', N'https://drive.google.com/drive/folders/1ZRIRvkmV9j7JlZkKw20hXGXDFqMLS840', 36, 0)
INSERT [dbo].[Lesson] ([lesson_id], [lesson_name], [description], [video_url], [material_url], [chapter_id], [duration]) VALUES (17, N'Ghép chữ ', N'Mô tả bài học ghép chữ', N'https://firebasestorage.googleapis.com/v0/b/flearning-131be.appspot.com/o/course%2Fvideos%2Fvideo-3.mp4?alt=media&token=f90cfb3c-ac27-4678-a112-3354336248d9', N'https://drive.google.com/drive/folders/1ZRIRvkmV9j7JlZkKw20hXGXDFqMLS840', 36, NULL)
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [email], [course_id], [amount], [created_date], [course_name], [phone], [address], [name]) VALUES (1, N'nguyenthanhlam7070@gmail.com', 35, 2000000, CAST(N'2023-07-18' AS Date), N'Khóa học N4', N'0395981070', N'Hải Dương', N'Nguyễn Lâm Thành')
INSERT [dbo].[Payment] ([payment_id], [email], [course_id], [amount], [created_date], [course_name], [phone], [address], [name]) VALUES (2, N'nguyenthanhlam7070@gmail.com', 36, 3000000, CAST(N'2023-07-18' AS Date), N'Khóa học N3', N'0395981070', N'Hải Dương', N'Nguyễn Lâm Thành')
INSERT [dbo].[Payment] ([payment_id], [email], [course_id], [amount], [created_date], [course_name], [phone], [address], [name]) VALUES (3, N'nguyenthanhlam7070@gmail.com', 37, 4500000, CAST(N'2023-07-18' AS Date), N'Khóa học N2', N'0395981070', N'Hải Dương', N'Nguyễn Lâm Thành')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([question_id], [description], [answer_1], [answer_2], [answer_3], [answer_4], [correct_answer], [test_id], [explaination]) VALUES (10, N'ざっし', N'Bút chì', N'Bút chì', N'Bút chì', N'Bút chì', 1, 23, N'Giải thích câu 1')
INSERT [dbo].[Question] ([question_id], [description], [answer_1], [answer_2], [answer_3], [answer_4], [correct_answer], [test_id], [explaination]) VALUES (11, N'かばん', N'Đồng hồ', N'Ví da', N'Vali', N'Cặp sách', 2, 23, N'')
INSERT [dbo].[Question] ([question_id], [description], [answer_1], [answer_2], [answer_3], [answer_4], [correct_answer], [test_id], [explaination]) VALUES (12, N'ノート', N'Sách', N'Vở', N'Báo', N' Sổ tay', 2, 23, N'')
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Support] ON 

SET IDENTITY_INSERT [dbo].[Support] OFF
GO
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([test_id], [test_name], [chapter_id], [course_id], [description], [duration]) VALUES (23, N'Bài kiểm tra 1', 36, 31, N'Mô tả bài kiểm tra 1', 30)
INSERT [dbo].[Test] ([test_id], [test_name], [chapter_id], [course_id], [description], [duration]) VALUES (25, N'Bài kiểm tra 2', 37, 31, N'Mô tả bài kiểm tra 2', 11)
INSERT [dbo].[Test] ([test_id], [test_name], [chapter_id], [course_id], [description], [duration]) VALUES (26, N'Bài kiểm tra 3', 38, 31, N'Mô tả bài kiểm tra 3', 11)
SET IDENTITY_INSERT [dbo].[Test] OFF
GO
INSERT [dbo].[User_Course] ([course_id], [email], [enrolled_date]) VALUES (35, N'nguyenthanhlam1070@gmail.com', CAST(N'2023-07-18' AS Date))
INSERT [dbo].[User_Course] ([course_id], [email], [enrolled_date]) VALUES (35, N'nguyenthanhlam7070@gmail.com', CAST(N'2023-07-18' AS Date))
INSERT [dbo].[User_Course] ([course_id], [email], [enrolled_date]) VALUES (36, N'nguyenthanhlam1070@gmail.com', CAST(N'2023-07-18' AS Date))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([blog_category_id])
REFERENCES [dbo].[Blog_Category] ([blog_category_id])
GO
ALTER TABLE [dbo].[Blog_Details]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[Blog] ([blog_id])
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Course]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter] ([chapter_id])
GO
ALTER TABLE [dbo].[Lesson_Done]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Lesson_Done]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Lesson_Done]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([lesson_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[Test] ([test_id])
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter] ([chapter_id])
GO
ALTER TABLE [dbo].[Test_Done]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Test_Done]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Test_Done]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[Test] ([test_id])
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
